body, html{
    background-color: #002F2E;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

a {
    color: #E9E9E9;
}

a:hover{
    color: #F6921E;
}

#coworking{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

#coworking h1{
    font-size: 55px;
    color: #F6921E;
}

#coworking .subtitle{
    margin-top: 60px;
    margin-bottom: 80px;
    padding-right: 70px;
}
    

#coworking a{
    color: #F6921E;
}

#coworking h4{
    font-size: 40px;
}

#coworking p{
    font-size: 20px;
}

#coworking #coluna2{
    display: flex;
    align-items: center;
    justify-content: center;
}


#coworking button{
    width: 160px;
    height: 34px;
    background: #F6921E;
    border: 2px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
    transition: 0.2s ease-in-out;
}

#coworking button:hover {
    background-color: #fff;
    color: #F6921E;
}

#revista {
    background-color: #F6921E;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Lato', sans-serif;
}

#revista img {
    width: 150px;
}

#revista #coluna1{
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#revista button{
    margin-top: 100px;
    width: 160px;
    height: 34px;
    background: #fff;
    border: 2px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 10px;
    color: #F6921E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
    transition: 0.2s ease-in-out;

}

#revista button:hover{
    background-color: #F6921E;
    color: #fff
}

#coworking h1{
    color: #F6921E;
    letter-spacing: 0.035em;
}

#introducao {
    padding-top: 35px;
    padding-bottom: 35px;
    background: url(../images/background1.jpg);
}

#introducao h1{
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}

#introducao img{
    margin-top: 20px;
    margin-left: -10px;
}

#introducao iframe{
    margin-top: 30px;
    border: 3px solid #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#facaparte{
    background: url(../images/background1.jpg);
}

#facaparte #coluna1, #facaparte #coluna2{
    align-items: center;
    justify-content: center;
}

#facaparte #coluna1{
    color: #000;
    font-family: 'Lato', sans-serif;
    padding: 40px;
}

#facaparte #form{
    background-color: #F8F8F8;
    border: none;
    width: 400px;
    height: 506px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#facaparte #form button, #feedback button{
    margin-top: 30px;
    height: 32px;
    background: #F6921E;
    border: none;
    color: #FFF;
}

#facaparte .card-title{
    background-color: #03504E;
    font-size: 25px;
    padding: 15px;
    padding-left: 20px;
    color: #fff;
}

#facaparte form{
    margin: 20px;
}

#facaparte #coluna2{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1em;
    padding: 20px;
}

#facaparte img{
    margin-top: 35px;
    margin-left: 80px;
    margin-bottom: -25px;
    width: 380px;
}

#facaparte .text{
    color: #F6921E;
}

#localizacao{
    background-color: #fff;
    padding: 20px;
}

#localizacao #title{
    font-family: 'Lato', sans-serif;
    color: #000;
    padding: 15px;
    margin-bottom: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#localizacao #title .title{
    color: #000;
    font-size: 25px;
}

#localizacao #title .subtitle{
    color: #003B36;
    font-size: 40px;
}

#localizacao #coluna1, #localizacao #coluna2{
    padding: 0;
}

#localizacao iframe{
    width: 380px;
    height: 500px;
}

#localizacao #coluna1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#localizacao #infos{
    display: inline;
    align-items: center;
    justify-content: center;
}

#localizacao #coluna2{
    display: flex;
    align-items: center;
    justify-content: center;
}

#localizacao #coluna3{
    padding-top: 30px;
    padding-bottom: 30px;
}

#card-map{
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: #002F2E;
    border-radius: 0;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: 'Lato', sans-serif;
}

#feedback {
    background: url(../images/background1.jpg);
    padding: 25px;
}

#feedback #coluna1, #feedback #coluna2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

#feedback #form{
    background-color: transparent;
    border: none;
    width: 450px;
}

#feedback #form input, #descricao{
    background: none;
    border: none;
    border-bottom: 1px solid #FFF;
    color: #fff;
}

#feedback img{
    width: 450px;
}

#feedback h1{
    color: #F6921E;
}

#carouselExampleIndicators{
    width: 500px;
    border: 3px solid #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#servicos {
    padding-top: 45px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

#servicos a.destaque{
    display: block;
    background: #03504E;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    transition: all ease-out 0.2s;
    height: 500px;
}

#servicos a.destaque:hover{
    background: #026966;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
}

#servicos p {
    color: #fff;
}

#servicos a.destaque .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

#servicos a.destaque .img-container img{
    max-height: 210px;
}

#footer{
    padding: 20px;
    background-color: #fff;
    color: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer img{
    width: 90px;
}

#footer #coluna1, #footer #coluna3 #title h6, #footer #icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer #infos{
    padding-bottom: 10px;
    border-bottom: 1px solid #616161;
}

#footer #coluna3{
    padding-top: 25px;
}

#footer #coluna2{
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

#footer #coluna2 img{
    margin-top: -4px;
    width: 15px;
    padding-right: 4px;
}

#footer #coluna1-1{
    display: flex;
    justify-content: end;
    align-items: center;
    border-right: 0.5px solid #616161;
}

#footer p, #footer a{
    color: #616161;
    font-size: 13px;
    margin-bottom: 0;
    text-decoration: none;
}

#footer button{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background: #00A89C;
    transition: 0.3s ease-in-out;
}

#footer button.facebook:hover{
    background: #285AEB;
}
#footer button.instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
#footer button.linkedin:hover{
    background: #2389e9;
}

#footer button img{
    width: 30px;
}

#footer #copyright p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 10px;
}